@import "colors";

main {
  position: relative;
  min-height: 100vh;
  height: 100%;

  div {
    flex-wrap: wrap;
    margin: 10px;

    .card {
      width: 60%;

      table {
        th {
          text-transform: capitalize;
          .material-icons {
            position: relative;
            top: 3px;
            font-size: 16px;

            &:not(:nth-child(2)) {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;

  padding: 10px;
  color: $white;
}

